body{
    display:flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

#canvas{
    width: 540px;
    height: 540px;
    background-color: antiquewhite;
}
